[submodule "markdown-mark"]
	path = markdown-mark
	url = https://github.com/dcurtis/markdown-mark
[submodule "sanitize.css"]
	path = sanitize.css
	url = https://github.com/jonathantneal/sanitize.css
[submodule "marked"]
	path = marked
	url = https://github.com/chjj/marked
[submodule "github-markdown-css"]
	path = github-markdown-css
	url = https://github.com/sindresorhus/github-markdown-css
[submodule "FileSaver.js"]
	path = FileSaver.js
	url = https://github.com/eligrey/FileSaver.js
[submodule "solarized-css"]
	path = solarized-css
	url = https://github.com/thomasf/solarized-css
	branch = gh-pages
