[submodule "markdown-mark"]
	path = markdown-mark
	url = https://github.com/dcurtis/markdown-mark
[submodule "sanitize.css"]
	path = sanitize.css
	url = https://github.com/jonathantneal/sanitize.css
[submodule "marked"]
	path = marked
	url = https://github.com/chjj/marked
[submodule "github-markdown-css"]
	path = github-markdown-css
	url = https://github.com/sindresorhus/github-markdown-css
