html,
body {
    height: 100%;
    max-width: 100% !important;
    margin: 0em;
    overflow: hidden;
}

button:disabled {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAKrVq36zwjjgzhhYWGMYAEYB8RmROaABADeOQ8CXl/xfgAAAABJRU5ErkJggg==) repeat;
}

textarea {
    outline: none;
    resize: none;
}

#app {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    height: 100%;
}

#menu {
    height: 4%;
}

#brand {
    flex: 5%;
    font: bold 0.8em sans-serif;
    padding-left: 0.75em;
    text-align: left;
}

#filler {
    flex: 45%;
}

#tools {
    flex: 50%;
    font: 0.8em sans-serif;
    padding-right: 0.75em;
    text-align: right;
}

#display {
    height: 96%;
}

.pane-container {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.col-pane {
    padding: 0.5em;
    padding-bottom: 0.25em;
}

.row-pane {
    flex: 50%;
    padding: 0.5em;
    padding-top: 0.25em;
}

.box {
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    padding: 1em;
    width: 100%;
}

.markdown-body {
    /* refer gfm.css */
}

.markdown-text {
    font: 1.2em monospace;
}

.placeholder:empty:not(:focus):before {
    color: #808080;
    content: attr(data-placeholder);
    font: 0.8em monospace;
}

::-webkit-input-placeholder {
    color: #808080;
    font-family: monospace;
}

::-moz-placeholder {
    color: #808080;
    font-family: monospace;
}

:-ms-input-placeholder {
    color: #808080;
    font-family: monospace;
}

:-moz-placeholder {
    color: #808080;
    font-family: monospace;
}
